/* Predefined colors */

:root {
    --red: #F4442E;
    --white: #FCFCFC;
    --green: #06D6A0;
    --yellow: #FFD166;
    --blue: #26547C;
    --lightgrey: #95A3B3;
    --black: #130303;

    --plate-height: 150px;
    --plate-width: 25px;

    --x-large: 1;
    --large: .85;
    --medium: .65;
    --small: .45;
    --x-small: .3;
    --xx-small: .2;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--blue);
    font-family: 'Inter', sans-serif;
    height: 100vh;
    width: 100vw;
}

.header {
    color: var(--black);
    text-align: center;
    padding: 20px;
    margin: auto;
}

.header h1 {
    font-weight: 200;
    font-size: 1.25em;
    color: var(--white);
}

#wrapper {
    margin: auto;
    border-radius: 50px;
    max-width: 100vw;
    background-color: var(--white);
    border-radius: 50px;
}

#plate-visualizer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
    padding-top: 35px;
    margin: 0 10%;
}

.incrementContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.incrementContainer h3 {
    font-weight: 400;
    font-size: 1em;
    justify-self: flex-start;
    margin-bottom: 20px;;
}

.plateContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: center;
    margin: auto;
    gap: 5px;
}

.plateIcon {
    background-color: black;
    border-radius: 7px;
}

.plate-45 .plateIcon {
    width: calc(var(--plate-width) * var(--x-large));
    height: calc(var(--plate-height) * var(--x-large));
}

.plate-25 .plateIcon {
    width: calc(var(--plate-width) * var(--large));
    height: calc(var(--plate-height) * var(--large));
}

.plate-10 .plateIcon {
    width: calc(var(--plate-width) * var(--medium));
    height: calc(var(--plate-height) * var(--medium));
}

.plate-5 .plateIcon {
    width: calc(var(--plate-width) * var(--small));
    height: calc(var(--plate-height) * var(--small));
}

.plate-2-5 .plateIcon {
    width: calc(var(--plate-width) * var(--x-small));
    height: calc(var(--plate-height) * var(--x-small));
}

.plate-custom .plateIcon {
    width: calc(var(--plate-width) * var(--xx-small));
    height: calc(var(--plate-height) * var(--xx-small));
    background-color: var(--lightgrey);
}



/* .plateIcon:hover {
    transform: rotateY(45deg);
    transition: transform 1s;
}

.plateIcon::before {
    content: "";
    background-color: var(--white);
    box-shadow: inset 4px 4px 0 -3px #aaa;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: block;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    position: absolute;
}

.plateIcon::after {
    display: block;
    content: "";
    width: 100%;
    height: 25%;
    box-shadow: 0px 10px 15px 0px rgb(0 0 0 / 0.25);
    border-radius: 100%;
    bottom: 0px;
    position: absolute;
}*/

.calculator {
    max-width: 300px;
    padding: 50px;
    text-align: center;
    margin: auto;
}

.input {
    margin-bottom: 25px;
    font-weight: bold;
}

.input #calc-display {
    display: block;
    min-width: 50%;
    font-size: 3em;
    padding: 0px;
    margin: 0px;
}

.input #unit {
    font-size: 1em;
    text-transform: uppercase;
    color: var(--lightgrey);
    margin-top: 10px;
}

.keypad {
    max-width: 300px;
    min-height: 350px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
}

/* Reset button display */
.keypad button {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    border-width: 0;
    background-color: var(--red);
    font-size: 1.25em;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 5px 0 black;
    transition: box-shadow 50ms, margin 50ms;
}

.keypad button:active {
    margin-top: 9px;
    margin-bottom: 1px;
    box-shadow: 0px 1px 0 black;
    transition: box-shadow 50ms, margin 50ms;
}

#copyright {
    text-align: center;
    font-size: .75em;
    color: var(--white);
    padding: 15px;
}